{% for education in data %}
    <div class='bullet'>
        <div class='row mb-2'>
            <div class='col-4'>{{ education.dateFrom|date('Y.m') ~ ' - ' ~ education.dateTo|date('Y.m') }}</div>
            <div class='col-8'>
                <div style='font-size: 18px; font-weight: bold;'>{{ education.name }}</div>
                <div style='font-weight: bold;'>{{ education.direction }}</div>
                <div class='text-muted'>Poziom wykształcenia: {{ education.level }}</div>
            </div>
        </div>
    </div>
{% endfor %}