{% for experience in data %}
    <div class='bullet'>
        <div class='row mb-2'>
            <div class='col-4'>{{ experience.dateFrom|date('Y.m') ~ (experience.dateTo ? (' - ' ~ experience.dateTo|date('Y.m')) : '') }}</div>
            <div class='col-8'>
                <div style='font-size: 18px; font-weight: bold;'>{{ experience.value }}</div>
                <div class='text-muted'>
                    <div style="white-space: pre-wrap;">{{ experience.description }}</div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}