{% for language in data %}
    <div>
        <div class='row mb-2'>
            <div class='col-4'>{{ language.language }}</div>
            <div class='col-8'>
                <div class='font-weight-bold'>{{ language.level }}</div>
            </div>
        </div>
    </div>
{% endfor %}