{% extends 'base.html.twig' %}

{% block content %}
    <div class="container pt-4 pb-3 bg-white" style='height: 100%; overflow-x: hidden; overflow-y: auto;'>
        <div class="row">
            <div class="col-4">
                <div class="row">
                    <div class="col-12">
                        <div class="profile-header">Dane kontaktowe</div>
                        <div class="profile-item-hoverable py-1">
                            <div class="image-container">
                                {% if user.photo %}
                                    <img src='{{ asset('avatars/' ~ user.photo) }}'>
                                {% else %}
                                    <img src="{{ asset('profile-placeholder.png')}}">
                                {% endif %}
                            </div>
                            <div class='user-data p-2'>
                                <div class='my-2 py-2 text-center' style="font-size: 24px; background-color: rgba(0, 0, 0, 0.1);">{{ user.fullname }}</div>
                                <div class='pl-2'>
                                    <div class='mb-2'><div class='font-weight-bold'>Adres email</div>{{ user.mail ?: '-' }}</div>
                                    <div class='mb-2'><div class='font-weight-bold'>Nr telefonu</div>{{ user.number ?: '-' }}</div>
                                    <div class='mb-2'><div class='font-weight-bold'>Adres</div>{{ user.address ?: '-' }}</div>
                                    <div class='mb-2'><div class='font-weight-bold'>Data urodzenia</div>{{ user.birthdate ? app.user.birthdate|date('d.m.Y') : '-' }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-8">
                {% set arr = ['Experience', 'Education', 'Language', 'Skill'] %}
                {% for el in arr %}
                    <div class="form-group">
                        <div class="profile-header">{{ constant('AppBundle\\Entity\\' ~ el ~ '::name') }}</div>
                        {% if attribute(user,el)|length %}
                            <div class='user-data{{ el in ['Experience', 'Education'] ? ' has-bullets' : '' }}' {% if el in ['Experience', 'Education'] %}style='border-left: 3px solid #3b5998;'{% endif %}>
                                <div class='pl-3 py-1'>
                                    {% include 'profile/' ~ el ~ '.html.twig' with {'data': attribute(user,el)} %}
                                </div>
                            </div>
                        {% else %}
                            <div class='user-data text-center'>
                                <div class='py-3'>
                                    Brak danych
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {% include 'content.css.html.twig' %}
{% endblock %}