{% extends 'base.html.twig' %}

{% block content %}
    <div class="container pt-4 pb-3 bg-white" style='height: 100%; overflow-x: hidden; overflow-y: auto;'>
        <div class="row">
            <div class="col-4">
                <div class="row">
                    <div class="col-12">
                        <div class="profile-header">Dane kontaktowe</div>
                        <div class="profile-item-hoverable py-1">
                            <div class="image-container">
                                {% if user.photo %}
                                    <img src='{{ asset('avatars/' ~ user.photo) }}'>
                                {% else %}
                                    <img src="{{ asset('profile-placeholder.png')}}">
                                {% endif %}
                            </div>
                            <div class='user-data p-2'>
                                <div class='my-2 py-2 text-center' style="font-size: 24px; background-color: rgba(0, 0, 0, 0.1);">{{ user.fullname }}</div>
                                <div class='pl-2'>
                                    <div class='mb-2'><div class='font-weight-bold'>Adres email</div>{{ user.mail ?: '-' }}</div>
                                    <div class='mb-2'><div class='font-weight-bold'>Nr telefonu</div>{{ user.number ?: '-' }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="row">
                    <div class="col-12">
                        <div class="profile-header">Twoja firma</div>
                        <div class="card company-card">
                            <div class="card-body" style='display: flex;'>
                                <div style='flex: 0 1 auto;'>
                                    <h4 class="text-main">{{ user.company.name }}</h4>
                                    <div>{{ user.company.person }}</div>
                                    <div>{{ user.company.address }}</div>
                                    <div>{{ user.company.post }}</div>
                                    <div>{{ user.company.phone }}</div>
                                    <div>{{ user.company.mail }}</div>
                                    <div>{{ user.company.website }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {% include 'content.css.html.twig' %}
{% endblock %}