<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet/less" type="text/css" href="{{ asset('styles.less') }}" />
        <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.7.1/less.min.js" ></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block sidebar %}
            <div class="sidebar">
            <div class="navigation">
                <div class="navigation-item">
                    <a href="{{ path('home') }}"><div class="icon mr-3"><i class="fa fa-home"></i></div>Strona główna</a>
                </div>
                <div class="navigation-item">
                    <a href="{{ path('profile') }}"><div class="icon mr-3"><i class="fa fa-user"></i></div>Profil</a>
                </div>
                <div class="navigation-item">
                    <a href="{{ path('message') }}"><div class="icon mr-3"><div class='position-relative d-inline-block'><i class="fa fa-envelope"></i>{% if message_service.hasUnseen() %}<div class='dot' style='position: absolute; top: 4px; right: -2px;'></div>{% endif %}</div></div>Wiadomości</a>
                </div>
                <div class='navigation-item'>
                    <a href='{{ path('my_ads') }}'><div class='icon mr-3'><i class='fa fa-newspaper'></i></div>Ogłoszenia</a>
                </div>
                {% set notifications = notification_service.getLastNotifications(app.user) %}
                {% set hasUnseen = false %}
                <div class='navigation-item notification-container' style='display: none; background-size: 0; order: 2;'>
                    {% for notification in notifications %}
                        <a href='#' class='notification' data-notification='{{ notification.id }}' data-seen='{{ notification.seen }}' onclick='redirect("{{ notification.link }}", this)' title='{{ notification.date|date('H:i:s d-m-Y') }}'>
                            {% if not notification.seen %}
                                {% set hasUnseen = true %}
                            {% endif %}
                            <div class='icon mr-3 d-flex align-items-center justify-content-center'><i class='fa {{ not notification.seen ? 'fa-envelope' : 'fa-envelope-open' }}'></i></div>
                            <div class='notification-content'>{{ notification.value }}</div>
                        </a>
                    {% endfor %}
                    <a href='{{ path('notifications') }}' class='notification'>
                        <div class='icon mr-3 d-flex align-items-center justify-content-center'><i class='fa fa-mail-bulk'></i></div>
                        <div class='notification-content'>Wszystkie powiadomienia</div>
                    </a>
                </div>
                <div class='navigation-item' style='order: 1;'>
                    <a href='#' class='notification-link'><div class='icon mr-3'><div class='position-relative d-inline-block'><i class='fa fa-bell'></i>{% if hasUnseen %}<div class='dot' style='position: absolute; top: 4px; right: -2px;'></div>{% endif %}</div></div>Powiadomienia</a>
                </div>
                <div class="navigation-item" style='order: 3;'>
                    <a href="{{ path('logout') }}"><div class="icon mr-3"><i class="fa fa-power-off"></i></div>Wyloguj się</a>
                </div>
            </div>
            </div>
        {% endblock %}
        {% block body %}
            <div class="content">
                {% block content %}{% endblock %}
            </div>
        {% endblock %}
        <script>
            $(document).ajaxSend(function(event, req, settings){
                if(settings.redirect)
                    location.assign(settings.redirect);
                else{
                    if(settings.el){
                        $(settings.el).find('i').removeClass('fa-envelope').addClass('fa-envelope-open');
                    }
                }
            });
            function redirect(link, el){
                let { notification, seen } = el.dataset;
                if(!seen){
                    $.ajax('{{ path('notifications_ajax', {seen: 1}) }}', {
                        method: 'post',
                        data: {
                            notification: notification,
                            value: 1
                        },
                        redirect: link,
                        el: el
                    });
                }else{
                    if(link)
                        location.assign(link);
                }
            }
            $('.notification-link').click(function(e){
                e.preventDefault();
                $('.notification-container').slideToggle();
            });
        </script>
        {% block scripts %}{% endblock %}
    </body>
</html>
