<style>
    .content{
        background-image: url({{ asset("content-background.jpg") }});
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
    }
    form{
        height: 100%;
    }
</style>