<div class='row'>
    <div class='col-12 col-md-10 offset-md-1 pt-4'>
        <div class='row'>
            <div class='col-12'>
                <div class='position-relative'>
                    <input type='text' id='search' placeholder='Wyszukaj interesujące Cię oferty' class='form-control' style='padding-right: 2rem;'>
                    <i class='fa fa-search text-primary' style='position: absolute; right: 10px; top: 50%; transform: translateY(-50%);'></i>
                    <div class="position-absolute search-result"></div>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='col-12 display-4'>
                Najnowsze oferty
                <hr>
            </div>
        </div>
        {% if ads|length == 0 %}
            <h4>Brak ofert do wyświetlenia</h4>
        {% endif %}
        {% for ad in ads %}
            <div class='row'>
                <div class='col-12 d-flex flex-wrap advertisement pb-2'>
                    <div class='font-weight-bold h5 text-primary'>{{ ad.job }}</div><div class='text-muted flex-grow-1 text-right'>{{ ad.date|date('H:i d-m-Y') }}</div>
                    <div class='w-100 d-flex'>
                        <div class='flex-grow-1' style='overflow: hidden;'>
                            <div>{{ ad.user.company ? ad.user.company.name : '' }}</div>
                            <div class='text-muted info-short'>{{ ad.description|slice(0, 50) ~ '...' }}</div>
                            {#<div class='info' style='display: none;'>
                                <div class='text-muted'>{{ ad.description }}</div>
                                <div class='mt-2' style='font-weight: 600;'>Wymagania:</div>
                                <ul class='custom-list'>
                                    {% for requirement in ad.requirements %}
                                        <li>{{ requirement.value }}</li>
                                    {% endfor %}
                                </ul>
                                <div class='text-center pb-2'><button class='btn btn-main'>Aplikuj</button></div>
                            </div>#}
                        </div>
                        <div>
                            <a href='{{ path('advertisement', {id: ad.id}) }}'><i class='fa fa-info mr-2'></i></a>
                        </div>
                    </div>
                    {% if not loop.last %}
                        <hr class='w-100'>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% block scripts %}
    <script src='{{ asset('/js/debounce.js') }}'></script>
    <script>
        function resultHide(){
            $('.search-result').hide();
            $('body').off('click', resultHide);
        }
        /*$('.expand').on('click', function(e){
            e.preventDefault();
            let $ad = $(e.target).closest('.advertisement');
            $ad.find('.info-short').css('transform', 'translateX(-100%)').one('transitionend', function(){
                $(this).css('display', 'none');
                $ad.find('.info').slideDown();
            });
        });*/
        const adUrl = '{{ path('advertisement', {id: 0})|escape('js') }}';
        $('#search').on('input', function(){
            let { value } = this;
            if(value.length > 2){
                debounce(function(){
                    $.post('{{ path('advertisement_search') }}', { value }, function(data){
                        let $container = $('.search-result');
                        $container.html('');
                        if(!data.length)
                            $container.append('');
                        else{
                            for(let ad of data){
                                let { id, job, minSalary, maxSalary } = ad;
                                $container.append(`<div class="result"><a href='${adUrl.replace(0, id)}' class='d-block'><div style='color: initial!important;'>${job} <span class="text-success">${minSalary + (maxSalary ? ' - ' + maxSalary : '')}zł</span></div></a></div>`);
                            }
                        }
                        $('body').click(resultHide);
                    });
                }, 500);
            }
        }).click(function(e){
            e.stopPropagation();
            $('.search-result').show();
            $('body').click(resultHide);
        });
        $('.search-result').click(function(e){
            e.stopPropagation();
        });
    </script>
{% endblock %}