<div class='row'>
    <div class='col-12 col-md-10 offset-md-1 pt-4'>
        <div class='row'>
            <div class='col-12'>
                <div class='position-relative'>
                    <input type='text' id='search' placeholder='Wyszukaj pracowników' class='form-control' style='padding-right: 2rem;'>
                    <i class='fa fa-search text-primary' style='position: absolute; right: 10px; top: 50%; transform: translateY(-50%);'></i>
                    <div class="position-absolute search-result"></div>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='col-12 display-4'>
                Najnowsze aplikacje
                <hr>
            </div>
        </div>
        {% if app_groups|length == 0 %}
            <h4>Brak aplikacji do wyświetlenia</h4>
        {% endif %}
        {% for applications in app_groups %}
            <div class='row'>
                <div class='col-12'>
                    <div class='d-flex'>
                        {% set ad = applications[0].ad %}
                        <div class='text-main h5'>{{ ad.job }}</div>
                        <div class='flex-grow-1 text-right'>
                            <a href='{{ path('advertisement_users', {id: ad.id}) }}' class='mx-1'>{{ adService.getRealUserCount(ad) }}<i class='fa fa-users ml-1'></i></a>
                            <a href='{{ path('advertisement', {id: ad.id}) }}' class='mx-1'><i class='fas fa-eye'></i></a>
                            <a href='{{ path('advertisement_edit', {id: ad.id}) }}' class='mx-1'><i class='fa fa-edit'></i></a>
                        </div>
                    </div>
                    {% for application in applications %}
                        {% set status = application.getStatusString(application.status) %}
                        <div class='py-1'>
                            <div class='h6'><a href='{{ path('profile_show', {id: application.user.id}) }}'>{{ application.user.fullname }}</a> - <span class='{{ status['class'] }}'>{{ status['status'] }}</span></div>
                            <div class='text-muted'>{{ application.date|date('H:i:s d-m-Y') }}</div>
                        </div>
                    {% endfor %}
                    <hr>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% block scripts %}
    <script src='{{ asset('/js/debounce.js') }}'></script>
    <script>
        function resultHide(){
            $('.search-result').hide();
            $('body').off('click', resultHide);
        }
        const adUrl = '{{ path('profile_show', {id: 0})|escape('js') }}';
        $('#search').on('input', function(){
            let { value } = this;
            if(value.length > 2){
                debounce(function(){
                    $.post('{{ path('user_search') }}', { value }, function(data){
                        let $container = $('.search-result');
                        $container.html('');
                        if(!data.length)
                            $container.append('');
                        else{
                            for(let user of data){
                                let { id, name, surname } = user;
                                $container.append(`<div class="result"><a href='${adUrl.replace(0, id)}' class='d-block'><div style='color: initial!important;'> ${name} ${surname}</div></a></div>`);
                            }
                        }
                        $('body').click(resultHide);
                    });
                }, 500);
            }
        }).click(function(e){
            e.stopPropagation();
            $('.search-result').show();
            $('body').click(resultHide);
        });
        $('.search-result').click(function(e){
            e.stopPropagation();
        });
    </script>
{% endblock %}