{% extends "base.html.twig" %}

{% block title %}
    Strona główna
{% endblock %}


{% block content %}
    <div class="container">
        {% if is_granted('ROLE_EMPLOYEE') %}
            {% include 'default/home_employee.html.twig' %}
        {% else %}
            {% include 'default/home_employer.html.twig' %}
        {% endif %}
    </div>
{% endblock %}
