{% extends 'base.html.twig' %}

{% block title %}
    Sztos strona z ofertami pracy
{% endblock %}

{% block stylesheets %}
    <style>
        @media screen and (min-aspect-ratio: 17/9){
            .employer-panel img{
                right: 0;
            }
            .employee-panel img{
                left: 0;
            }
        }
    </style>
{% endblock %}

{% block sidebar %}

{% endblock %}


{% block body %}
    <div class="homepage{% if employerForm.vars.submitted or employeeForm.vars.submitted %} block{% endif %}">
        <div class='main-section'>
            <div class='text-center display-4 top'>Strona z ofertami pracy</div>
            <div class='d-flex stats'>
                <div class='stat'>
                    <div class='number' data-target='{{ stats['users'] ?? 0 }}'>0</div>
                    <div>Zarejestrowanych użytkowników</div>
                </div>
                <div class='stat'>
                    <div class='number' data-target='{{ stats['ads'] ?? 0 }}'>0</div>
                    <div>Stworzonych ogłoszeń</div>
                </div>
                <div class='stat'>
                    <div class='number' data-target='{{ stats['applications'] ?? 0 }}'>0</div>
                    <div>Złożonych aplikacji</div>
                </div>
            </div>
            <div class='d-flex justify-content-center display-4 bottom'>
                <a href='#' style='text-decoration: none;'>Rejestracja i logowanie</a>
            </div>
        </div>
        <div class='register-section'>
            <div id="login-button-container">
                <a href='#login' class='btn btn-light border border-dark' id='login-button'>Logowanie</a>
            </div>
            <div class='panels'>
                <div class='employer-panel panel{% if not employerForm.vars.valid %} panel-active{% endif %}' data-form='employer'>
                    <img src='{{ asset('employer.jpg') }}'>
                    <div class='text-stripe'>Pracodawca</div>
                    <div class='container register-form'{% if not employerForm.vars.valid %} style='display: block;'{% endif %}>
                        <div class='row'>
                            <div class='col-12 offset-sm-1 col-sm-10 offset-md-2 col-md-8 card py-4'>
                                <span class="close-button">&times;</span>
                                {{ form(employerForm) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class='employee-panel panel{% if not employeeForm.vars.valid %} panel-active{% endif %}' data-form='employee'>
                    <img src='{{ asset('employees.jpg') }}'>
                    <div class='text-stripe'>Pracownik</div>
                    <div class='container register-form'{% if not employeeForm.vars.valid %} style='display: block;'{% endif %}>
                        <div class='row'>
                            <div class='col-12 offset-sm-1 col-sm-10 offset-md-2 col-md-8 card py-4'>
                                <span class="close-button">&times;</span>
                                {{ form(employeeForm) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style='min-height: 100%; display: flex; align-items: center;' id='login'>
            <div class='container' style='height: 100%;'>
                <div class='row'>
                    <div class='col-12 offset-sm-2 col-sm-8 offset-md-4 col-md-6 offset-lg-4 col-lg-4 card'>
                        <div class='row'>
                            <div class='col-12 pt-5'>
                                <span class="close-button">&times;</span>
                                <form method="post" action="{{ path('login') }}">
                                    {% set arr = []|merge({'error': ''})|merge({'username': ''}) %}
                                    {% for key, msg in app.flashes('login') %}
                                        {% if key == 0 %}
                                            {% set arr = arr|merge({'error': msg}) %}
                                        {% else %}
                                            {% set arr = arr|merge({'username': msg}) %}
                                        {% endif %}
                                    {% endfor %}
                                    <div class='form-group'>
                                        <input type='text' name='_username' class='form-control' placeholder='Login' value="{{ arr['username'] }}" required>
                                    </div>
                                    <div class='form-group'>
                                        <input type='password' name='_password' class='form-control' placeholder='Hasło' required>
                                    </div>
                                    <div class='form-group text-center'>
                                        <button class='btn btn-main text-white'>Zaloguj się</button>
                                    </div>
                                    <div class="form-group text-danger">
                                        {{ arr['error'] != '' ? arr['error'].messageKey|trans(arr['error'].messageData, 'security') : '' }}
                                    </div>
                                    {% for message in app.flashes('register') %}
                                        <div class="form-group text-success">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function(){
            if($('.panel-active').length){
                $('html, body').scrollTop($('.panel-active').offset().top);
            }
            if(location.hash === '#login')
                $('.homepage').addClass('login block');

        });
        $('#login-button').click(function(e){
            e.preventDefault();
            $('.homepage').addClass('login block');
        });
        $('.panel').click(function(){
            if($('.homepage').hasClass('block'))
                return;
            $('.homepage').addClass('block');
            $(this).addClass('panel-active');
            var el = this;
            $(this).children('.text-stripe').one('transitionend', function(){
                if($(this).css('bottom') !== '90%')
                    $(el).children('.container').show(400);
            });
        });
        $('.employee-panel').on('mouseenter', function(){
            if(!$(this).hasClass('panel-active'))
                $('.employer-panel').css('width', '45%'); // TODO: fix dla ie
        }).on('mouseleave', function(){
            $('.employer-panel').css('width', '');
        });
        $('.register-form .close-button').click(function(e){
            e.stopPropagation();
            $(this).closest('.panel').removeClass('panel-active');
            $(this).closest('.register-form').hide();
            $('.homepage').removeClass('block');
        });
        $('#login .close-button').click(function(){
            $('.homepage').removeClass('login block');
            location.hash = '';
            $('html, body').scrollTop($('.register-section').offset().top);
        });

        const nScroll = function(stime, steps, target, el){
            let time = 0;
            return new Promise((resolve, reject) => {
                let a = function(){
                    el.textContent = parseInt(Math.pow((-(Math.pow((time / stime) - 1, 4)) + 1), 2) * target); // -((x-1)^2)+1
                    time += stime / steps;
                    if(time <= stime)
                        setTimeout(() => {
                            return a();
                        }, stime / steps);
                    else
                        resolve(true);
                };
                a();
            });
        };
        $('.stat').on('animationend webkitAnimationEnd', function(e){
            let number = $(this).find('.number')[0];
            nScroll(3000, 300, number.dataset.target, number);
        });
        $('.bottom a').on('click', function(){
            $('html, body').animate({ scrollTop: $('.register-section').offset().top });
        });
    </script>
{% endblock %}
