{% extends "base.html.twig" %}

{% form_theme form _self %}

{% block collection_remove %}
    <div class='form-group clearfix position-relative'>
        {{ form_label(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
        <span class='remove select-none'>&times;</span>
    </div>
{% endblock %}

{% block _cv_other_experience_entry_row %}
    {{ block('collection_remove')|raw }}
{% endblock %}

{% block _cv_other_education_entry_row %}
    {{ block('collection_remove')|raw }}
{% endblock %}

{% block _cv_other_language_entry_row %}
    {{ block('collection_remove')|raw }}
{% endblock %}

{% block _cv_other_skill_entry_row %}
    {{ block('collection_remove')|raw }}
{% endblock %}

{% block collection_row %}
    <div class='form-group'>
        {{ form_label(form) }}
        <div class='profile-item-hoverable'>
            <div class='editable clearfix' style='display: none;'>
                {{ form_widget(form) }}
                {{ form_errors(form) }}
                {#<button type="button" class="add btn btn-main">Dodaj</button>#}
                <div>
                    <span class='add btn-add select-none'>+</span>
                </div>
            </div>
            {% if form.vars.data|length %}
                {% set class = form.vars.data|last.getClass()|split('\\')|last %}
                <div class='user-data{{ class in ['Experience', 'Education'] ? ' has-bullets' : '' }}' {% if class in ['Experience', 'Education'] %}style='border-left: 3px solid #3b5998;'{% endif %}>
                    <div class='pl-3 py-1'>
                        {% include 'profile/' ~ class ~ '.html.twig' with {'data': form.vars.data} %}
                    </div>
                </div>
            {% else %}
                <div class='user-data text-center'>
                    <div class='py-3'>
                        Wypełnij tą sekcję danymi
                    </div>
                </div>
            {% endif %}
            <div class="edit rounded">{% if form.vars.data|length %}<span class="select-none">Edytuj</span>{% endif %}</div>
        </div>
    </div>
{% endblock %}

{% block _cv_data_row %}
    <div class="row">
        <div class="col-12">
            {{ form_label(form) }}
            <div class="profile-item-hoverable py-1">
                <div class="image-container">
                    {% if app.user.photo %}
                        <img src='{{ asset('avatars/' ~ app.user.photo.filename) }}'>
                    {% else %}
                        <img src="{{ asset('profile-placeholder.png')}}">
                    {% endif %}
                </div>
                <div class='editable' style='display: none;'>
                    {{ form_widget(form) }}
                    {{ form_errors(form) }}
                </div>
                <div class='user-data p-2'>
                    <div class='my-2 py-2 text-center' style="font-size: 24px; background-color: rgba(0, 0, 0, 0.1);">{{ app.user.fullname }}</div>
                    <div class='pl-2'>
                        <div class='mb-2'><div class='font-weight-bold'>Adres email</div>{{ app.user.mail ?: '-' }}</div>
                        <div class='mb-2'><div class='font-weight-bold'>Nr telefonu</div>{{ app.user.number ?: '-' }}</div>
                        <div class='mb-2'><div class='font-weight-bold'>Adres</div>{{ app.user.address ?: '-' }}</div>
                        <div class='mb-2'><div class='font-weight-bold'>Data urodzenia</div>{{ app.user.birthdate ? app.user.birthdate|date('d.m.Y') : '-' }}</div>
                    </div>
                </div>
                <div class="edit rounded"><span class="select-none">Edytuj</span></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block file_row %}
    <div class="form-group">
        {{ form_label(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>
{% endblock %}


{% block content %}
    <div class="container pt-4 pb-3 bg-white" style='height: 100%; overflow-x: hidden; overflow-y: auto;'>
        {{ form_start(form) }}
        <div class="row">
            <div class="col-4">
                {{ form_row(form.data) }}
            </div>
            <div class="col-8">
                {{ form_row(form.other) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block stylesheets %}
    {% include 'content.css.html.twig' %}
{% endblock %}

{% block scripts %}
    <script src="{{ asset('js/profile.js') }}"></script>
{% endblock %}

