{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block form %}
    <div class="row">
        <div class="col-12">
            {{ form_start(form) }}
            <div class="profile-header">Dane kontaktowe</div>
            <div class="profile-item-hoverable py-1">
                <div class="image-container">
                    {% if app.user.photo %}
                        <img src='{{ asset('avatars/' ~ app.user.photo.filename) }}'>
                    {% else %}
                        <img src="{{ asset('profile-placeholder.png')}}">
                    {% endif %}
                </div>
                <div class='editable' style='display: none;'>
                    {{ form_widget(form) }}
                    {{ form_errors(form) }}
                </div>
                <div class='user-data p-2'>
                    <div class='my-2 py-2 text-center' style="font-size: 24px; background-color: rgba(0, 0, 0, 0.1);">{{ app.user.fullname }}</div>
                    <div class='pl-2'>
                        <div class='mb-2'><div class='font-weight-bold'>Adres email</div>{{ app.user.mail ?: '-' }}</div>
                        <div class='mb-2'><div class='font-weight-bold'>Nr telefonu</div>{{ app.user.number ?: '-' }}</div>
                    </div>
                </div>
                <div class="edit rounded"><span class="select-none">Edytuj</span></div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block file_row %}
    <div class="form-group">
        {{ form_label(form) }}
        {% if app.user.photo %}
            <div class="row">
                <div class="col-8">{{ form_widget(form) }}</div>
                <div class="col-4"></div>
            </div>
        {% else %}
            {{ form_widget(form) }}
        {% endif %}
        {{ form_errors(form) }}
    </div>
{% endblock %}

{% block content %}
    <div class="container pt-4 pb-3 bg-white" style='height: 100%; overflow-x: hidden; overflow-y: auto;'>
        <div class='row'>
            <div class='col-12 col-sm-4 mb-2 m-sm-auto'>
                {{ form(form) }}
            </div>
            <div class='col-12 col-sm-8'>
                {% if app.user.company %}
                    {% include 'company/data.html.twig' with {'company': app.user.company} %}
                {% else %}
                    {% include 'company/search.html.twig' %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {% include 'content.css.html.twig' %}
{% endblock %}

{% block scripts %}
    <script>
        $(document).on('click', '.check', function(){
            let nip = $('#nip').val();
            if(nip){
                $.post('{{ path('company_check') }}', { nip }, function(company){
                    if(company){
                        let card = $('<div class="card-body"></div>');
                        card.append($(`<div class="font-weight-bold">${company.name}</div>`))
                            .append($(`<div>${company.firstname} ${company.lastname}</div>`))
                            .append($(`<div>${company.street} ${company.streetNumber + (company.houseNumber ? '/' + company.houseNumber : '')} ${company.city}</div>`))
                            .append($(`<div>${company.postCode} ${company.postCity}</div>`));
                        $('#ajax-result').html($(`<div class="card company position-relative" data-company="${company.nip}"></div>`)
                            .append(card));
                    }else{
                        $('#ajax-result').html('<div class="alert alert-danger">Firma o podanym NIPie nie istnieje.</div>');
                    }
                });
            }
        });
        $(document).on('click', '.delete', function (e) {
            e.preventDefault();
            $.post('{{ path('company_remove') }}', { company: {{ app.user.company ? app.user.company.id : 0 }}, user: {{ app.user.id }} }, function(data){
                $('.col-sm-8').html(data);
            });
        })
        $(document).on('click', '.refresh', function (e) {
            e.preventDefault();
            $.post('{{ path('company_refresh') }}', { company: {{ app.user.company ? app.user.company.id : 0 }}, user: {{ app.user.id }} }, function(data){
                $('.col-sm-8').html(data);
            });
        })
        $(document).one('click', '.company', function(){
            let $button = $('<button class="btn btn-main mt-2" style="display: none">Potwierdź dodanie firmy</button>');
            let company = $(this).data('company');
            $button.click(function(){
                $.post('{{ path('company_set') }}', { company }, () => {
                    $(this).parent().replaceWith('<div class="success-animation"><span><i class="fa fa-check"></i></span></div>');
                });
            });
            $(this).children('.card-body').append($('<div class="text-center"></div>').append($button));
            $button.slideDown();
        });
    </script>
    <script src="{{ asset("js/profile.js") }}"></script>
{% endblock %}