{% extends "base.html.twig" %}

{% block title %}
    Wiadomości
{% endblock %}


{% block content %}
    <div class="container pt-4 pb-3 bg-white" style='height: 100%; overflow-x: hidden; overflow-y: auto;'>
        <div style='display: flex; flex-direction: column; height: 100%;'>
            <div class='profile-header'>Wiadomości</div>
            <div class='row' style='flex: 1 0 auto;'>
                <div class="col-4">
                    <div class="search">
                        <input id="search" class="form-control" type="text" placeholder="Wyszukaj...">
                        <div class='search-users' style="display: none;"></div>
                    </div>
                    <div class='users'>
                        {% for message in lastMessages %}
                            {% set user = message.receiver == app.user ? message.sender : message.receiver %}
                            <a href='{{ path('message') }}/{{ user.id }}'>
                                <div class='user{% if app.request.attributes.get('receiver') == user.id %} user-active{% endif %}'>
                                    <div class='user-photo'>
                                        <img src='{{ asset(user.photo ? 'avatars/' ~ user.photo : 'profile-placeholder.png') }}'>
                                    </div>
                                    <div class='user-message{% if not message.seen and message.receiver == app.user %} font-weight-bold{% endif %}'>
                                        <div class='user-name'>{{ user.fullname }}</div>
                                        <div style='display: flex'>
                                            <div style='text-overflow: ellipsis; white-space: nowrap; overflow: hidden; flex: 0 1 99.9%;'{% if message.seen %} class='text-muted'{% endif %}>{{ (message.sender == app.user ? 'Ty: ' : '') ~ message.value|slice(0, 50) }}</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-8" style='display: flex; flex-direction: column;'>
                    {% if app.request.attributes.get('receiver') %}
                        {% include 'message/messages.html.twig' %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block stylesheets %}
    {% include 'content.css.html.twig' %}
{% endblock %}

{% block scripts %}
    <script src='{{ asset('/js/debounce.js') }}'></script>
    <script>
        const getMsg = (id, sender, value, date) => `<div class='d-flex flex-column'>
                <div class="message ${User === sender ? 'message-me' : 'message-other'}" data-message-id='${id}'>${value}</div>
                <div class="message-date text-muted ${User === sender ? 'message-me' : 'message-other'}"
                style="background-color:transparent!important;font-size: 0.7rem; ${User === sender ? 'padding-right: 1rem;' : 'padding-left: 1rem;'} margin-bottom: 5px;"
                data-message-id='${id}'>${date}</div>
            </div>`;
        const getPlaceholder = `<div class="d-flex flex-column placeholder" style='height: 80px;'><div class='loading-circle align-self-center'></div></div>`; //<img src="{{ asset("loading.gif") }}" style="height: 40px; width: 40px; align-self: center;">
        const getNoneMessages = `<div class="d-flex flex-column"><div class="message message-none" style="margin-bottom: 0.5rem;">Brak wcześniejszych wiadomości</div></div>`;
        const getNoneUsers = `<div class="user-message"><div class="user-name">Nie znaleziono użytkowników</div></div>`;
        function resultHide(){
            $('.search-users').hide();
            $('body').off('click', resultHide);
        }
        function search(){
            if($('#search').val()){
                let user = $('#search').val();
                $.post('{{ path('message_search') }}', { user }, function(data){
                    if(data.length) {
                        $('.search-users').html('');
                        for(let i = 0; i < data.length; i++){
                            let { id, name, surname, photo } = data[i];
                            $('.search-users').append(
                                `
                                    <a href='${"{{ path('message') }}/" + id}'>
                                        <div class="user">
                                            <div class="user-photo">
                                                <img src='${photo ? '/avatars/' + photo : '{{ asset('profile-placeholder.png') }}'}'>
                                            </div>
                                            <div class="user-message">
                                                <div class="user-name">${name + " " + surname}</div>
                                            </div>
                                        </div>
                                    </a>
                                `
                            );
                        }
                    }else{
                        $('.search-users').html(
                            $('<div class="user"></div>').append($(getNoneUsers))
                        )
                    }
                    $('.search-users').show();
                });
                $('body').on('click', resultHide);
            }else{
                resultHide();
            }
        }
        function loadPrevious(){
            let $messages = $('.messages');
            let page = $messages.data('page') + 1;
            $messages.data('page', page);
            let receiver = $messages.data('receiver');
            $.post('{{ path('message_page') }}', { page, receiver }, function(data){
                if(data.length){
                    let prevScrollHeight = $messages[0].scrollHeight;
                    for(let i = 0; i < data.length; i++){
                        let { id, sender, value, date } = data[i];
                        $('.placeholder').after(
                            getMsg(id, sender, value, date),
                        );
                    }
                    if(data.length < 10)
                        $('.placeholder').replaceWith($(getNoneMessages));
                    $messages[0].scrollTop = $messages[0].scrollHeight - prevScrollHeight;
                }else{
                    if(!$('.message:first').hasClass('message-none'))
                        $('.placeholder').replaceWith(
                            $(getNoneMessages)
                        );
                }
            })
        }
        function scrollEvent(e){
            if($('.placeholder').length && e.target.scrollTop === 0) loadPrevious();
        }
        function messagesInit(){
            if($('.messages').children().length === 10){
                $('.messages').prepend(getPlaceholder).scrollTop($('.messages').prop('scrollHeight'));
            }
            $('.messages').on('scroll', scrollEvent);
        }

        const User = {{ app.user.id }};
        messagesInit();
        $('#search').on('input', function(){
            debounce( search, 500 );
        }).on('focus', function(){
            if($('.search-users').children().length){
                $('.search-users').show();
                $('body').on('click', resultHide);
            }
        }).on('click', function(e){
            e.stopPropagation();
        });
        $(document).on('click', '.search-users a, .users a', function(e){
            e.preventDefault();
            $(this).find('.user-message').removeClass('font-weight-bold');
            let cid = location.pathname.split('/').reverse()[0];
            let id = e.currentTarget.href.split('/').reverse()[0];
            if(cid !== id){
                $.post('{{ path('message_page') }}', { receiver: id, page: 1, form: 1 }, data => {
                    window.history.pushState({ data, id }, '', '/message/' + id);
                    changeState(data, id);
                });

            }
        });
        let messages = [];
        $('.message').each(function(){
            messages.push({
                id: Number($(this).attr('data-message-id')),
                value: $(this).text(),
                sender: $(this).hasClass('message-me') ? User : 0,
                inserted: true
            });
        });
        $(document).on('submit', 'form', function(e){
            e.preventDefault();
            $.post(location.pathname, { ...$(this).serializeArray().reduce((a, b) => { a[b.name] = b.value; return a; }, []), id: $('.message-date:last').data('message-id') }, function(data){
                for(let item of data){
                    item.inserted = false;
                    messages.push(item);
                }
                messages.sort((a, b) => a.id - b.id );
                for(let i = 0, l = messages.length; i < l; i++){
                    let { id, value, inserted, sender, date } = messages[i];
                    if(!inserted){
                        if(i === 0){
                            $('.messages').append(getMsg(id, sender, value, date));
                        }else{
                            console.log(messages);
                            $(`.message-date[data-message-id=${messages[i - 1].id}]`).after(getMsg(id, sender, value, date));
                        }
                        messages[i].inserted = true;
                    }
                }
                $('.messages').scrollTop($('.messages').prop('scrollHeight'));
            });
            e.target[0].value = '';
        });
        function changeState(data, id){
            let $d = $(`a[href="/message/${id}"]`).children('div');
            if($d.hasClass('user')){
                $('.user-active').removeClass('user-active');
                $d.addClass('user-active');
            }
            $('.col-8').html(data);
            messagesInit();
        }
        window.addEventListener('popstate', function(e){
            let data = e.state;
            if(!data){
                $('.user-active').removeClass('user-active');
                $('.col-8').html('');
                return;
            }
            changeState(data.data, data.id);
        }, false);
    </script>
{% endblock %}