<div class='person'><a href='#'>{{ receiver.fullname }}</a></div>
<div class="messages" style='flex: 1 0 auto;' data-href="{{ path('message_page') }}" data-page="1" data-receiver="{{ app.request.attributes.get('receiver') ?: app.request.request.get('receiver') }}">
    {% if messages|length == 0 %}
        <div class="d-flex flex-column"><div class="message message-none">Brak wiadomości</div></div>
    {% else %}
        {% for message in messages|reverse(true) %}
            <div class="d-flex flex-column">
                    <div class="message {{ message.sender.id == app.user.id ? 'message-me' : 'message-other'}}" data-message-id='{{ message.id }}'>{{ message.value }}</div>
                    <div class="message-date text-muted {{ message.sender.id == app.user.id ? 'message-me' : 'message-other'}}" style="background-color:transparent!important;font-size: 0.7rem; {{ message.sender.id == app.user.id ? 'padding-right: 1rem;' : 'padding-left: 1rem;'}} margin-bottom: 5px;" data-message-id='{{ message.id }}'>{{ message.date|date('H:i:s d-m-Y') }}</div>
            </div>
        {% endfor %}
    {% endif %}
</div>
<div class="response">
    {% if form %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    {% endif %}
</div>