{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block _advertisement_salary_row %}
    <div class='form-group'>
        {{ form_label(form) }}
        <div class='form-inline'>
            {{ form_widget(form) }}
        </div>
        {{ form_errors(form) }}
    </div>
{% endblock %}

{% block collection_row %}
    <div class='form-group'>
        {{ form_label(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
        <div>
            <span class='add btn-add select-none'>+</span>
        </div>
    </div>
{% endblock %}

{% block _advertisement_requirements_entry_value_row %}
    <div class='form-group position-relative'>
        {{ form_label(form) }}
        {{ form_widget(form) }}<a href='#' class='text-danger rmv' style='position: absolute; top: 50%; right: .75rem; transform: translateY(-50%);'><i class='fa fa-times'></i></a>
        {{ form_errors(form) }}
    </div>
{% endblock %}

{% block _advertisement_salary_minsalary_row %}
    {{ form_label(form) }}
    {{ form_widget(form) }}<span class='ml-1'>–</span>
    {{ form_errors(form) }}
{% endblock %}

{% block _advertisement_salary_maxsalary_row %}
    {{ form_label(form) }}
    {{ form_widget(form) }}
    {{ form_errors(form) }}
{% endblock %}

{% block _advertisement_salary_salarytype_row %}
    {{ form_label(form) }}
    {{ form_widget(form) }}
    {{ form_errors(form) }}
{% endblock %}

{% block content %}
    <div class='container pt-4'>
        <div class='row'>
            <div class='col-12'>
                <div class='profile-header'>{{ form.vars.data ? 'Edytuj' : 'Utwórz' }} ogłoszenie</div>
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $('.add').click(function(){
            let $prototype = $('.prototype');
            let proto = $prototype.attr('data-prototype');
            let index = $prototype.attr('data-index');
            proto = proto.replace(/__name__/g, index++);
            $prototype.append(proto).attr('data-index', index);
        });
        $(document).on('click', '.rmv', function(){
            $(this).closest('.form-group').parent().parent().remove();
        });
    </script>
{% endblock %}