{% extends 'base.html.twig' %}

{% block content %}
    <div class='container pt-4'>
        <div class='row'>
            <div class='col-12 h3 text-center'>
                {{ ad.job }}
            </div>
        </div>
        <div class='row'>
            <div class='col-12 h5 text-center text-success'>
                {{ ad.minsalary ~ (ad.maxsalary ? ' - ' ~ ad.maxsalary : '') ~ ' zł'}} {{ ad.salarytype }}
                <hr>
            </div>
        </div>
        <div class='row'>
            <div class='col-12 font-weight-bold' style='font-size: 20px;'>
                {{ ad.user.company.name }}
            </div>
            <div class='col-12 text-muted mb-4'>
                Utworzone przez {{ ad.user.fullname }}
            </div>
        </div>
        <div class='row'>
            <div class='col-12 mb-2'>
                {{ ad.description }}
            </div>
        </div>
        <div class='row'>
            <div class='col-12'>
                <div class='h5' style='font-weight: 600;'>Wymagania:</div>
                <ul class='custom-list'>
                    {% for requirement in ad.requirements %}
                        <li>{{ requirement.value }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class='row'>
            <div class='col-12 text-center'>
                {% if hasApplicated %}
                    {% set status = hasApplicated.getStatusString(hasApplicated.getStatus()) %}
                    <div class="text-center mb-2 {{ status['class'] }}" style="font-size: 20px;">{{ status['status'] }}</div>
                    {% if hasApplicated.getStatus() in [constant('AppBundle\\Entity\\Application::STATUS_TASK'), constant('AppBundle\\Entity\\Application::STATUS_TASK_ANSWERED')] %}
                        <a href='{{ path('task_fill', {id: hasApplicated.tasks[0].id}) }}' class='btn btn-main task-toggle'>Zadanie rekrutacyjne</a>
                    {% endif %}
                {% endif %}
                {% if is_granted('application', ad) %}
                    <a href='#' class='btn btn-main application'>Aplikuj</a>
                {% elseif is_granted('edit', ad) %}
                    <a href='{{ path('advertisement_edit', {id: ad.id}) }}' class='btn btn-main'>Edytuj</a>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-12 task-data" style="display: none;">
                <div class='py-4 text-center'>Wczytywanie</div>
                <div class='text-center'>
                    <div class='d-inline-block'>
                        <div class='loading-circle'></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {% if hasApplicated %}
        <script>
            $('.task-toggle').click(function(e){
                e.preventDefault();
                if($('.task-data').find('.loading-circle').length) {
                    $.post($(this).attr('href'), (data) => {
                        $('.task-data').html(data);
                    })
                }
                $('.task-data').slideToggle();
            })
        </script>
    {% endif %}
    {% if is_granted('application', ad) %}
        <script>
            $('.application').click(function(e){
                e.preventDefault();
                $.post('{{ path('applicate', {id: ad.id}) }}', function(data){
                    $('.application').replaceWith('<div class="text-center text-success" style="font-size: 20px;"><span class="text-slide text-nowrap d-inline-block mr-2" style="vertical-align: sub;">Aplikacja złożona pomyślnie</span><i class="fa fa-check animated-tick"></i></div>');
                    $('.animated-tick').on('animationend webkitAnimationEnd', function(){
                        $('.text-slide').css('max-width', '250px');
                    });
                });
            })
        </script>
    {% endif %}
{% endblock %}