<div class="row">
    <div class="col-12 display-4">
        {% if applications|length == 0 %}
            Brak ofert do których się zgłosiłeś
        {% else %}
            Twoje aplikacje
        {% endif %}
        <hr>
    </div>
</div>
{% for application in applications %}
    <div class='row'>
        <div class='col-12 d-flex flex-wrap advertisement pb-2'>
            <div class='font-weight-bold h5 text-primary'>{{ application.ad.job }}</div><div class='text-muted flex-grow-1 text-right'>{{ application.date|date('H:i d-m-Y') }}</div>
            <div class='w-100 d-flex'>
                <div class='flex-grow-1' style='overflow: hidden;'>
                    <div class='text-muted info-short'><a href="{{ path('profile_show', {id: application.ad.user.id})}}">{{ application.ad.user.fullname }}</a></div>
                </div>
                <div>
                    <a href='{{ path('advertisement', {id: application.ad.id}) }}'><i class='fa fa-info mr-2'></i></a>
                </div>
            </div>
            {% set status = application.getStatusString(application.status) %}
            <div class="text-center w-100 {{ status['class'] }}">
                {{ status['status'] }}
            </div>
        </div>
    </div>
{% endfor %}