{% if not app.user.company %}
    <div class="row">
        <div class="col-12 h4">
            Aby móc dodać ogłoszenie, uzupełnij dane firmy na swoim <a href="{{ path('profile') }}">profilu.</a>
        </div>
    </div>
{% else %}
    {% for ad in ads %}
        {% if loop.first %}
            <div class='row'>
                <div class='col-12 display-4'>
                    Twoje oferty
                    <hr>
                </div>
            </div>
        {% endif %}
        <div class='row'>
            <div class='col-12 d-flex flex-wrap'>
                <div class='font-weight-bold h5 text-main'>{{ ad.job }}</div><div class='text-muted flex-grow-1 text-right'>{{ ad.date|date('H:i d-m-Y') }}</div>
                <div class='w-100 d-flex'>
                    <div class='flex-grow-1'>
                        <div>{{ ad.user.company.name }}</div>
                        <div class='text-muted'>{{ ad.description|slice(0, 100) ~ '...' }}</div>
                        <div class='text-right'>
                            <a href='{{ path('advertisement_users', {id: ad.id}) }}' class='mx-1'>{{ adService.getRealUserCount(ad) }}<i class='fa fa-users ml-1'></i></a>
                            <a href='{{ path('advertisement', {id: ad.id}) }}' class='mx-1'><i class='fas fa-eye'></i></a>
                            <a href='{{ path('advertisement_edit', {id: ad.id}) }}' class='mx-1'><i class='fa fa-edit'></i></a>
                        </div>
                    </div>
                    {#<div class='text-center pr-1'>
                        <div>
                            <a href='{{ path('advertisement_edit', {id: ad.id}) }}'><i class='fa fa-edit'></i></a>
                        </div>
                        <div>
                            <a href='{{ path('advertisement', {id: ad.id}) }}'><i class='fas fa-eye'></i></a>
                        </div>
                    </div>#}
                </div>
                {% if not loop.last %}
                    <hr class='w-100'>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    <div class='row'>
        <div class='col-12'>
            {% if ads|length == 0 %}<div class='text-center mt-2 display-4'>Nie stworzyłeś jeszcze żadnej oferty pracy </div>{% endif %}
            <div class='text-center'><a href='{{ path('advertisement_add') }}' class='btn btn-lg btn-block btn-main mt-3'>Stwórz ofertę</a></div>
        </div>
    </div>
{% endif %}