{% extends 'base.html.twig' %}

{% block content %}
    <div class='container pt-4'>
        <div class='row'>
            <div class='col-12 col-md-10 offset-md-1'>
                {% if is_granted('ROLE_EMPLOYEE') %}
                    {% include 'ads/my_ads_employee.html.twig' %}
                {% else %}
                    {% include 'ads/my_ads_employer.html.twig' %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
