{#{% extends 'base.html.twig' %}#}

{#{% block content %}#}
        {% if form is not defined %}
            <div class='h4'>Zadanie rekrutacyjne</div>
            <div>{{ task.task }}</div>
            <hr>

            <div class='h4'>{% if is_granted('ROLE_EMPLOYEE') %}Twoja odpowiedź{% else %}Odpowiedź{% endif %}</div>
            <pre>{{ task.answer }}</pre>

            {% if is_granted('ROLE_EMPLOYER') and task.answer %}
                <div class="text-center">
                    <a href='{{ path('task_review', {id: task.id, action: 'accept'}) }}' class='btn btn-main'>Akceptuj<i class='fa fa-check ml-2'></i></a>
                    <a href='{{ path('task_review', {id: task.id, action: 'reject'}) }}' class='btn btn-main'>Odrzuć<i class='fa fa-times ml-2'></i></a>
                </div>
            {% endif %}
        {% else %}
            <div class='h4'>Zadanie rekrutacyjne</div>
            <div>{{ form.vars.data.task }}</div>
            <hr>
            <div>{{ form(form, {'action': path('task_fill', {'id': id})}) }}</div>
        {% endif %}
{#{% endblock %}#}