<div class='py-2'>
    <span class='font-weight-bold' style='font-size: 20px; color: var(--main);'>Doświadczenie</span>
    {% if not user.experience|length %}
        <div class='user-data'>
            <div class='pl-3 py-1'>Brak danych</div>
        </div>
    {% else %}
        <div class='user-data has-bullets ml-2' style='border-left: 3px solid #3b5998;'>
            <div class='pl-3 py-1'>
                {% include 'profile/experience.html.twig' with {'data': user.experience} %}
            </div>
        </div>
    {% endif %}
</div>
<div class='py-2'>
    <span class='font-weight-bold' style='font-size: 20px; color: var(--main);'>Edukacja</span>
    {% if not user.education|length %}
        <div class='user-data'>
            <div class='pl-3 py-1'>Brak danych</div>
        </div>
    {% else %}
        <div class='user-data has-bullets ml-2' style='border-left: 3px solid #3b5998;'>
            <div class='pl-3 py-1'>
                {% include 'profile/education.html.twig' with {'data': user.education} %}
            </div>
        </div>
    {% endif %}
</div>
<div class='py-2'>
    <span class='font-weight-bold' style='font-size: 20px; color: var(--main);'>Języki</span>
    <div class='user-data ml-2'>
        <div class='pl-3 py-1'>
            {% if not user.language|length %}
                Brak danych
            {% else %}
                {% include 'profile/language.html.twig' with {'data': user.language} %}
            {% endif %}
        </div>
    </div>
</div>
<div class='py-2'>
    <span class='font-weight-bold' style='font-size: 20px; color: var(--main);'>Umiejętności</span>
    <div class='user-data ml-2'>
        <div class='pl-3 py-1'>
            {% if not user.skill|length %}
                Brak danych
            {% else %}
                {% include 'profile/skill.html.twig' with {'data': user.skill} %}
            {% endif %}
        </div>
    </div>
</div>