{% extends 'base.html.twig' %}

{% block content %}
    <div class='container pt-4'>
        <div class='row'>
            <div class='col-12'>
                <div class='row'>
                    <div class='col-12 h3 text-center pb-3'>
                        Oferta <a href='{{ path('advertisement', {id: ad.id}) }}'>{{ ad.job }}</a>
                    </div>
                </div>
                <div class='d-flex flex-wrap justify-content-around'>
                    {% if ad.applications|length == 0 %}
                        <h4>Nikt nie złożył aplikacji do tego ogłoszenia</h4>
                    {% endif %}
                    {% for application in ad.applications %}
                        {% set user = application.user %}
                        <div class='rounded border mb-3 user-tile d-flex flex-shrink-1' data-user='{{ user.id }}'>
                            <div class='user-tile-basic'>
                                <img class='card-img-top' src='{{ asset(user.photo ? 'avatars/' ~ user.photo : 'profile-placeholder.png') }}'>
                                <div class='card-body'>
                                    <div class='text-center h5'>{{ user.fullname }}</div>
                                    <div class='text-center text-muted'>{{ application.date|date('d-m-Y') }}</div>
                                    {% set status = application.getStatusString(application.status) %}
                                    <div class='text-center status {{ status['class'] }}'>{{ status['status'] }}</div>
                                </div>
                            </div>
                            <div class='user-tile-extra'>
                                <div class='data-container'>
                                    <div class='d-flex flex-column h-100 flex-grow-1'>
                                        <div class='px-4 border-bottom flex-grow-1 data' style='overflow-x: hidden;'>
                                            {#{% include 'ads/user_data.html.twig' %}#}
                                            <div class='py-4 text-center'>Wczytywanie</div>
                                            <div class='text-center'>
                                                <div class='d-inline-block'>
                                                    <div class='loading-circle'></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class='px-4 py-2 border-bottom flex-grow-1 application' style='display:none; overflow-x: hidden;'>
                                            <div class='py-4 text-center'>Wczytywanie</div>
                                            <div class='text-center'>
                                                <div class='d-inline-block'>
                                                    <div class='loading-circle'></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class='text-center py-3 d-block align-items-center justify-content-center'>
                                            <a href='{{ path('profile_show', {id: user.id}) }}' class='mx-2 text-nowrap'>Profil<i class='fa fa-user ml-2'></i></a>
                                            {% if application.status == constant('AppBundle\\Entity\\Application::STATUS_WAITING') %}
                                                <a href='{{ path('application_action', {id: application.id, action: constant('AppBundle\\Entity\\Application::STATUS_ACCEPTED')}) }}' class='text-success application-action mx-2 text-nowrap'>Akceptuj<i class='fa fa-check ml-2'></i></a>
                                                <a href='{{ path('application_action', {id: application.id, action: constant('AppBundle\\Entity\\Application::STATUS_REJECTED')}) }}' class='text-danger application-action mx-2 text-nowrap'>Odrzuć<i class='fa fa-times ml-2'></i></a>
                                                <a href='{{ path('application_task', {id: application.id}) }}' data-status="0" class='application-task mx-2 text-nowrap'>Zadanie rekrutacyjne<i class='fa fa-pen ml-2'></i></a>
                                            {% elseif application.status in [constant('AppBundle\\Entity\\Application::STATUS_TASK_ANSWERED'), constant('AppBundle\\Entity\\Application::STATUS_TASK')] %}
                                                <a href='{{ path('task_review', {id: application.tasks[0].id}) }}' class='task-review mx-2 text-nowrap'>Zadanie rekrutacyjne<i class='fa fa-pen ml-2'></i></a>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class='border-left text-center d-flex align-items-center close-arrow'><i class='fa fa-angle-left'></i></div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src='{{ asset('js/user_data.js') }}'></script>
    <script>
        $('.user-tile-basic').click(function(){
            let $tile = $(this).closest('.user-tile');
            if(!$tile.hasClass('user-tile-extended')){
                let $prev;
                do{
                    $prev = $prev ? $prev.prev('.user-tile') : $tile.prev('.user-tile');
                    $prev.css('order', 3);
                }while($prev.length && $prev.offset().top === $tile.offset().top);

                $tile.nextAll('.user-tile').css('order', 3);
                $tile.css('order', 2);

                let $div = $('<div class="w-100" style="order: 2;"></div>');
                if($prev.length)
                    $prev.after($div);
                else
                    $('.user-tile:first').before($div);

                $div.append($tile);
                setTimeout(function(){
                    if($tile.find('.loading-circle').length){
                        $.post('{{ path('user_data') }}', { user: $tile.attr('data-user')}, function(data){
                            $tile.find('.data').html(data);
                        });
                    }

                    $tile.addClass('user-tile-extended').one('transitionend', function(){
                        $(this).closest('.w-100').replaceWith(function(){ return $(this).contents(); });
                    });
                }, 1)

            }
        });
        $('.close-arrow').click(function(){
            $(this).closest('.user-tile').removeClass('user-tile-extended').one('transitionend', function(){
                $('.user-tile').css('order', '');
            });
        });
        $('.application-action').click(function(e){
            if($(this).find('.fa-pen').length)
                return;
            e.preventDefault();
            $.post($(this).attr('href'), (data) => {
                if(data !== false){
                    $(this).closest('.user-tile').find('.status').text(data['status']).addClass(data['class']);
                    $(this).parent().find('.application-action').remove();
                }
            });
        });
        if(location.hash){
            $(`.user-tile[data-user=${location.hash.slice(1)}] .user-tile-basic`).click();
        }
        $('.application-task, .task-review').click(function(e){
            e.preventDefault();
            let $app = $(this).parents('.data-container').find('.application');
            if($app.find('.loading-circle').length) {
                $.post($(this).attr('href'), (data) => {
                    $app.html(data);
                })
            }
            let status = [
                'Cv<i class="fa fa-address-card ml-2"></i>',
                'Zadanie rekrutacyjne<i class="fa fa-pen ml-2"></i>'
            ];
            $(this).attr('data-status', +!Number($(this).attr('data-status')));
            $(this).html(status[+!Number($(this).attr('data-status'))]);
            $(this).parents('.data-container').find('.data').toggle();
            $app.toggle();
        })
    </script>
{% endblock %}