{% extends 'base.html.twig' %}

{% block content %}
    <div class='container pt-4'>
        <div class='row'>
            <div class='col-12 col-sm-10 col-md-8 offset-sm-1 offset-md-2'>
                <div class='display-4'>Powiadomienia</div>
            </div>
            {% if notifications|length == 10 %}
                <div class='col-12 col-sm-10 col-md-8 offset-sm-1 offset-md-2 text-right pb-2 buttons'>
                    <div class="pb-1">Ilość powiadomień do wczytania</div>
                    <a href="#" class="btn btn-main notifications-quantity" data-quantity="5">5</a>
                    <a href="#" class="btn btn-main" data-quantity="10">10</a>
                    <a href="#" class="btn btn-main" data-quantity="20">20</a>
                    {#<a href='#' class='text-primary older-notifications'>Pobierz wcześniejsze powiadomienia</a>#}
                </div>
                {#<div class='col-12 text-center py-3'>#}
                {#<a href='#' class='text-primary older-notifications'>Pobierz wcześniejsze powiadomienia</a>#}
                {#</div>#}
            {% endif %}
            <div class='col-12 col-sm-10 col-md-8 offset-sm-1 offset-md-2 notifications' data-amount='10'>
            {#<div class='col-12 col-sm-10 col-md-8 offset-sm-1 offset-md-2 notifications' data-page='2'>#}
                {% for notification in notifications %}
                    {% include 'notifications/notification.html.twig' %}
                {% endfor %}
            </div>
            {% if notifications|length == 10 %}
                <div class='col-12 col-sm-10 col-md-8 offset-sm-1 offset-md-2 text-center p-2 notifications-info'><a href="#" class="older-notifications">Pokaż wcześniejsze powiadomienia</a></div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        const notificationEl = notification => `{{ include('notifications/notification.html.twig', {notification: null})|raw }}`;
        $(document).on('change', '.custom-checkbox input', function(){
             let value = +$(this).prop('checked'),
                 notification = this.dataset.notification;
             $.post('{{ path('notifications_ajax', {seen: 1}) }}', { notification, value });
        });

        $('.btn').click(function(){
        	console.log($('.buttons'));
        	$('.buttons').find('.notifications-quantity').removeClass('notifications-quantity');
        	$(this).addClass('notifications-quantity');
        });

        $('.older-notifications').click(function(){
            let amount = $('.notifications').attr('data-amount');
            let quantity = $('.notifications-quantity').attr('data-quantity');
            console.log(amount, quantity);
            $.post('{{ path('notifications_ajax') }}', { amount, quantity }, data => {
                console.log(data);
                $('.notifications').attr('data-amount', Number(amount) + Number(quantity));
                for(let notification of data){
                    $('.notifications').append(notificationEl(notification));
                    $('html, body').scrollTop($('.container').height());
                }
                if(data.length < quantity)
                    $('.notifications-info').text('Brak wcześniejszych powiadomień');
            });
        });
        {#$('.older-notifications').click(function(){#}
            {#let page = $('.notifications').attr('data-page');#}
            {#$.post('{{ path('notifications_ajax', {page: 1}) }}', { page }, data => {#}
                {#$('.notifications').attr('data-page', ++page);#}
                {#for(let notification of data){#}
                    {#$('.notifications').append(notificationEl(notification));#}
                    {#$('html, body').scrollTop($('.container').height());#}
                {#}#}
                {#if(data.length < 10)#}
                    {#$(this).replaceWith('Brak wcześniejszych powiadomień');#}
            {#});#}
        {#});#}
    </script>
{% endblock %}