<div class='row{{ not notification ? ' background-fade' : '' }}'>
    <div class='col-12 border-bottom border-top py-1 d-flex'>
        <div class='flex-grow-1' style='cursor: pointer;'>
            <div style='font-size: 20px;'>{{ notification ? notification.value : '${notification.value}' }}</div>
            <div class='text-muted'>{{ notification ? notification.date|date('H:i:s d-m-Y') : '${notification.date}' }}</div>
        </div>
        <div>
            <div>Przeczytane</div>
            <div class='text-center'>
                <div class='custom-checkbox'>
                    <input type='checkbox'
                           data-notification='{{ notification ? notification.id : '${notification.id}' }}'
                           id='notification-{{ notification ? notification.id : '${notification.id}' }}'
                           {% if notification %}
                               {% if notification.seen %}checked{% endif %}
                           {% else %}
                               {{ '${notification.seen ? "checked" : ""}' }}
                           {% endif %}>
                    <label for='notification-{{ notification ? notification.id : '${notification.id}' }}'></label>
                </div>
            </div>
        </div>
    </div>
</div>