<div class="profile-header">Twoja firma</div>
<div class="card company-card">
    <div class="card-body" style='display: flex;'>
        <div style='flex: 0 1 auto;'>
            <h4 class="text-main">{{ company.name }}</h4>
            <div>{{ company.person }}</div>
            <div>{{ company.address }}</div>
            <div>{{ company.post }}</div>
            <div>{{ company.phone }}</div>
            <div>{{ company.mail }}</div>
            <div>{{ company.website }}</div>
        </div>
        <div style='flex: 1 0 auto; text-align: center; font-size: 20px;'>
            <div><a href='#' class='delete' title='Usuń firmę'><i class='fa fa-times'></i></a></div>
            <div><a href='#' class='refresh' title='Odśwież dane'><i class='fa fa-sync-alt mt-2'></i></a></div>
        </div>
    </div>
</div>