<div>Do tego konta nie jest przypisana żadna firma. Skorzystaj z poniższej wyszukiwarki, aby dodać swoje przedsiębiorstwo.</div>
<div class='input-group mt-2'>
    <input class='form-control' type='text' name='nip' id='nip' placeholder='NIP' value='7272445205'>
    <div class='input-group-append'>
        <button class='btn btn-main check'><i class='fa fa-search'></i></button>
    </div>
</div>
<div class='mt-3' id='ajax-result'></div>