:root{
  --dark-danger: darken(#dc3545, 10%);
  --main: @main;
}
@blue: #3b5998;
@main: @blue;
html, body{
  height: 100%;
}
*::-webkit-scrollbar{
  width: 8px;
  height: 8px;
}
*::-webkit-scrollbar-track{
  /*background: #f1f1f1;*/
}
*::-webkit-scrollbar-thumb{
  background-color: #888;
  border-radius: .25rem;
}
*::-webkit-scrollbar-thumb:hover{
  background-color: #555;
}
.loading-circle{
  position: relative;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 3px solid lightgrey;
}
.loading-circle:after{
  content: '';
  display: block;
  position: absolute;
  top: -3px;
  left: -3px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border-top: 3px solid #007bff;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  animation: rotate 1.5s cubic-bezier(.15, .34, .92, .7) infinite;
}
.dot{
  width: 6px;
  height: 6px;
  background-color: red;
  border-radius: 50%;
}
@keyframes rotate{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
@keyframes slideShow{
  from{
    width: 0;
  }
  to{
    width: 16px;
  }
}
@keyframes bg-fade{
  0%{
    background-color: initial;
  }
  50%{
    background-color: lighten(lightgrey, 10%);
  }
  100%{
    background-color: initial;
  }
}
@keyframes fade{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
@keyframes homepage-main{
  0%{
    padding-top: 25%;
    opacity: 0;
  }
  50%{
    opacity: 1;
    padding-top: 25%;
  }
  100%{
    padding-top: 10%;
  }
}
.animated-tick{
  overflow: hidden;
  animation: .5s slideShow;
}
.text-slide{
  transition: max-width 0.5s ease 0s;
  max-width: 0;
  overflow: hidden;
}
.custom-list{
  list-style-type: none;

  & > li{
    position: relative;

    &:before{
      content: '';
      display: block;
      width: 7px;
      height: 7px;
      background-color: var(--primary);
      border-radius: 50%;
      position: absolute;
      top: 10px;
      left: -18px;
    }
  }
}
.custom-checkbox{
  display: inline-block;

  & > label{
    width: 50px;
    height: 24px;
    border-radius: 50px;
    background-color: lightgrey;
    position: relative;
    transition: background-color, .5s;

    &:after{
      display: block;
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      top: 2px;
      left: 4px;
      right: 0;
      border-radius: 50%;
      background-color: lighten(lightgrey, 15%);
      transition: all .5s;
    }
  }

  & > input[type=checkbox]{
    display: none;

    &:checked{
      & + label{
        background-color: @main;

        &:after{
          background-color: white;
          left: 26px;
        }
      }
    }
  }
}
.background-fade{
  animation: 1s ease-in-out 0s bg-fade;
}
.text-main{
  color: @main;
}
.btn-main{
  background-color: @main;
  border-color: @main;
  transition: background-color .5s, border-color .5s;
  color: white;

  &:hover{
    background-color: darken(@main, 5%);
    border-color: darken(@main, 5%);
    color: white;
  }
}
.btn-add{
  font-size: 28px;
  /*float: right;*/
  margin-right: 5px;
  line-height: 0.7;
  color: @main;
  cursor: pointer;
}
.select-none{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.homepage{
  height: 100%;
}
.login{
  & .register-section{
    filter: blur(4px);
    & #login-button-container{
      right: -50%;
    }
  }
  & #login{
    top: 0;
  }

  & .main-section{
    height: 0;
  }
}
#login-button-container{
  transition: right 0.5s;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
}
#login{
  transition: top 1s;
  position: absolute;
  top: -100%;
  width: 100%;
  z-index: 4;
}
.main-section{
  position: relative;
  height: 100%;

  & .top{
    padding-bottom: 6vh;
    animation: 2s homepage-main;
    animation-fill-mode: forwards;
    font-size: 7vmin;
  }

  & .stats{
    padding-top: 6vh;
    padding-bottom: 6vh;
  }

  & .stat{
    text-align: center;
    width: calc(100% / 3);
    font-size: 5vmin;
    font-weight: 300;
    line-height: 1.2;
    opacity: 0;
    animation: 1s linear 2s fade;
    animation-fill-mode: forwards;
  }

  & .bottom{
    padding-top: 12vh;
    opacity: 0;
    animation: 1s linear 3s fade;
    animation-fill-mode: forwards;
    font-size: 7vmin;
  }
}
.register-section{
  transition: filter 1s;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.register-section .close-button, #login .close-button{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  position: absolute;
  color: #a0a0a0;
  top: 0;
  right: 0;
  font-size: 2rem;
  line-height: 0.9;
  margin-right: 0.3rem;
  transition: color .5s;

  &:hover{
    color: darken(#a0a0a0, 20%);
  }
}
.panel{
  overflow: hidden;
  cursor: pointer;
  position: absolute;
  height: 100%;
  width: 60%;
  transition: all 0.5s;
  background-color: #f1f1f1;
  & .text-stripe{
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    text-align: center;
    position: absolute;
    font-size: 2rem;
    color: white;
    text-shadow: 0 0 2px #000;
    bottom: 25%;
    transition: all 1s;
  }
}
.employee-panel{
  left: 0;
  clip-path: polygon(0 0, 73% 0, 90% 100%, 0 100%);
  z-index: 1;
  & img{
    /*transform: scale(2.2);*/
    left: -500px;
    position: absolute;
    height: 100%;
    transition: all 0.5s;
    @media (max-width: 1500px){
        /*left: -30%;*/
    }
    @media (max-width: 1200px){
        /*left: -50%;*/
    }
  }
  &:hover{
    width: 80%;
    clip-path: polygon(0 0, 75% 0, 83.333% 100%, 0 100%);
    & img{
      /*left: -200px;*/
    }
  }
}
.employer-panel{
  right: 0;
  clip-path: polygon(6% 0, 100% 0, 100% 100%, 22% 100%);
  & img{
    right: -200px;
    height: 100%;
    position: absolute;
    transition: all 0.5s;
  }
  &:hover{
    width: 80%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
    & img{
      /*right: 0;*/
    }
    & + .employee-panel{
        width: 40%;
    }
  }
}
.register-form{
  display: none;
  top: 15%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
@supports (-ms-ime-align:auto){
  .panel{
    width: 50%;
  }
  .employer-panel{
    &:hover{
      width: 80%;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
      & + .employee-panel{
        width: 20%;
      }
    }
  }
}
.panel-active{
  cursor: initial;
  width: 100%;
  clip-path: none;
  z-index: 10;
  &:hover{
    width: 100%;
    clip-path: none;
    &[data-form="employee"] img{
      left: 50%;
    }
    &[data-form="employer"] img{
      right: 50%;
    }
  }

  & .text-stripe{
    bottom: 90%;
  }

  & img{
    position: absolute;
  }

  &[data-form="employee"] img{
    transform: translateX(-50%);
    left: 50%;
  }
  &[data-form="employer"] img{
    transform: translateX(50%);
    right: 50%;
  }
}
/*@supports (-ms-ime-align:auto){
  .employee-panel{
    width: 50%;
    &:hover{
      width: 80%;
    }
  }
  .employer-panel{
    width: 50%;
    &:hover{
      width: 80%;
      z-index: 2;
    }
  }
}*/
.sidebar{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: linear-gradient(to right, @main, @main 50px, white 50px);
  position: fixed;
  width: 50px;
  left: 0;
  height: 100%;
  /*background-color: #7bafe4;*/
  overflow: hidden;
  transition: width 0.5s;
  z-index: 3;
  box-shadow: 1px 0 20px 7px rgba(0, 0, 0, 0.15);
  &:hover{
    width: 200px;
  }

  & .navigation{
    padding: 50px 0;
    height: 100%;
    display: flex;
    flex-direction: column;

    & .icon {
      width: 50px;
      min-width: 50px;
      text-align: center;
    }

    & > .navigation-item:last-child{
      margin-top: auto;
      margin-bottom: 0;
    }
  }
}
.navigation-item {
  padding: 0.5rem 0;
  cursor: pointer;
  color: white;
  width: 200px;
  position: relative;
  background-size: 0% 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, @main, @main);
  transition: background-size .5s;
  &:hover{
    background-size: 100% 100%;

    & a{
      color: white;
    }
  }
  & a > .icon {
    color: white;
  }

  & a {
    color: @main;
    font-weight: 500;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    transition: color .5s;
    &:hover{
      text-decoration: none;
    }
    /*&:hover{
      color: #fff701;

      & > .icon{
        color: #fff701;
      }
    }*/
  }
}
.notification{
  /*max-height: 62px;*/
  border-top: 1px solid @main;
  color: @main;
  padding: .5rem 0;
  overflow: hidden;

  &:last-of-type{
    border-bottom: 1px solid @main;
  }

  & .notification-content{
    color: @main!important;
    max-height: 45px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
.content{
  position: absolute;
  right: 0;
  top: 0;
  width: calc(100% - 50px);
  min-height: 100%;
}
.profile-item-hoverable{
  position: relative;

  & > .edit{
    position: absolute;
    display: flex;
    opacity: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.3);
    transition: opacity .5s;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    align-items: center;
    justify-content: center;

    & span{
      background-color: white;
      padding: .5rem 1rem;
      border-radius: .25rem;
      border: 1px solid lightgrey;
    }
  }

  &:hover > .edit{
    /*background-color: rgba(0, 0, 0, 0.1);*/
    opacity: 1;
  }
}
.remove{
  position: absolute;
  top: 0;
  right: .25rem;
  font-weight: 900;
  font-size: 20px;
  color: var(--danger);
  cursor: pointer;
  transition: color .5s;

  &:hover{
    color: var(--dark-danger);
  }
}
.image-container{
  position: relative;
  max-width: 233px;
  padding: .25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: .25rem;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  & > img{
    max-width: 100%;
    height: auto;
    max-height: 100%;
  }
}
.profile-header{
  /*background-image: linear-gradient(to right, @main 80%, lighten(@main, 15%));*/
  background-color: @main;
  color: white;
  width: 100%;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: 1.5rem;
  padding: .5rem 1rem;
}
.bullet{
  position: relative;

  &[disabled]{
    &:before{
      transform: scale(0.01) translateX(400%);
    }
  }

  &:before{
    content: '';
    position: absolute;
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid @main;
    background-color: white;
    left: -24px;
    top: 6px;
    z-index: 10;
    transform: scale(1);
    transition: transform .5s;
  }
}
.company{
  transition: background-color .5s;

  &:hover{
    cursor: pointer;
    background-color: lighten(lightgrey, 10%);
  }
}
@keyframes success {
  from{
    width: 0;
  }
  to{
    width: 30px;
  }
}
.success-animation{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--success);
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.1);

  & span{
    width: 30px;
  }

  & i{
    overflow: hidden;
    animation-name: success;
    animation-duration: 1s;
    animation-iteration-count: 1;
  }
}
//-------------------------------- ty no klasy z wiadomosci
.messages{
  overflow-x: hidden;
  overflow-y: auto;
  padding: 5px;
  max-height: 400px;
}
.message{
  word-break: break-all;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding: .25rem 1rem;
  //margin-bottom: 5px;
  width: auto;
  max-width: 80%;
  color: white;
  &-me{
    align-self: flex-end;
    text-align: left;
    background-color: #71a4db;
  }
  &-other{
    align-self: flex-start;
    text-align: right;
    background-color: #6689bf;
  }
  &-none{
    align-self: center;
    background-color: #4071b5;
  }
}
.users{
  overflow-x: hidden;
  overflow-y: auto;
  padding: 5px;
  max-height: 450px;
  flex: 1 0 auto;
}
/*a, a:hover{
  text-decoration: none;
  color: black;
}*/
.search-users{
  position: absolute;
  background-color: white;
  padding: 5px;
  width: 100%;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.75);
  -moz-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.75);
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.75);
}
.search{
  position: relative;
}
.user{
  display: flex;
  padding: .75rem .5rem;
  border-bottom: 1px solid lightgrey;
}
.user-active{
  background-color: #d6e5f5;
}
.user-photo{
  flex: 0 0 25%;
}
.user-photo img{
  height: 50px;
  width: 50px;
}
.user-message{
  flex: 0 0 75%;
  padding: 0 .5rem;
  overflow: hidden;
}
.user-message.font-weight-bold .user-name{
  font-weight: 700;
}
.user-name{
  font-weight: 500;
}
.person{
  text-align: center;
  font-size: 18px;
  border-bottom: 1px solid lightgrey;
  padding: 0.25rem 0;
}
.info-short{
  transition: transform .75s cubic-bezier(.3, .06, 1, .66);
  transform: translateX(0);
}
.search-result{
  background-color: white;
  width: 100%;
  z-index: 9999;
  font-size: 20px;

  & > .result{
    padding: 0.5rem 1rem;
    border: 1px solid lightgrey;
    border-top: 0;

    &:hover{
      background-color: lighten(lightgrey, 13%);
      cursor: pointer;

      & > a{
        text-decoration: none;
      }
    }
  }
}
.user-tile{
  width: 202px;
  overflow: hidden;
  order: 1;
  transition: width 1s;

  &.user-tile-extended{
    width: 100%;

    & img{
      border-top-right-radius: 0;
    }

    & > .user-tile-basic{
      border-right: 1px solid #dee2e6;
      cursor: default;
    }

    & .data-container{
      width: 100%;
    }
  }

  & > .user-tile-basic{
    max-width: 200px;
    cursor: pointer;
  }

  &-extra{
    position: relative;
    flex-grow: 1;

    & > .data-container{
      position: absolute;
      width: 0;
      overflow: hidden;
      height: 100%;
      transition: width .5s;
      display: flex;
    }
  }
}
.close-arrow{
  padding: 0 .75rem;
  font-size: 24px;
  cursor: pointer;
  color: @main;

  &:hover{
    background-color: rgba(0, 0, 0, 0.1);
  }
}